<% layout('layouts/layout') -%>
<div class="row">
    
<div class="card col-6 offset-3 bg-danger mt-5">
    <div class="card-body">
        <p class="card-title">
             <h2><%= err.msg %></h2>
        </p>
        <p><%= err.stack %> </p>
    </div>
</div>
</div>